@media only screen and (max-width:810px) {
    nav ul {
        display: none;
    }

    nav span {
        display: block;
    }

    nav ul li {
        padding: 1rem 0;
    }
}

@media only screen and (max-width:768px) {
    .hero-text h1 {
        font-size: 3rem;
    }

    .hero-text p {
        font-size: 1.2rem;
        line-height: 1.3rem;
    }

    .card-container{
        padding: 0 1.3rem;
    }


}


@media (max-width: 992px){
    .card{
        width: 45%;
    }

    #contact h2{
        font-size: 1.5rem;
    }
}

@media (max-width: 576px){
    .card{
        width: 90%;
    }

    .card-heading h1{
        font-size: 2rem;
    }
}

@media (max-width: 900px) {
    .footer-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width:500px) {
    .footer-container {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .social-links {
        justify-content: center;
    }
}