@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 100vh;
}

nav {
    height: 4rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    background-color: black;
}

nav .logo {
    font-family: "Roboto", sans-serif;
    font-size: 1.9rem;
    font-weight: 800;
    font-style: italic;
    color: #fff;
}

nav ul {
    display: flex;
    position: relative;
}

nav ul li {
    padding: 0 2rem;
    list-style: none;
}

nav ul li a {
    font-size: 1.4rem;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    color: lightseagreen;
    position: relative;
}

nav ul li a::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    transition: 0.2s;
    border-bottom: 2px solid #fff   ;
}

nav ul li a:hover::after {
    width: 100%;
}

nav span {
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
    color: #fff;
}


.nav-shows {
    position: absolute;
    top: 4rem;
    width: 100%;
    left: 0;
    right: 0;
    height: calc(100vh - 4rem);
    display: flex;
    flex-direction: column;
    background-color:rgba(0, 0, 0, 0.900);
    text-align: center;
}


.hero-section {
    min-height: calc(100vh - 4rem);
    width: 100%;
    background-image: url(assets/hero-image.jfif);
    background-repeat: no-repeat;
    background-size: cover;
}

.over-lap {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.900);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 4rem);
    padding: 0 1rem;
}

.hero-text {
    width: 100%;
    text-align: center;
    padding: 3rem 1rem;
    height: auto;
}

.hero-text h1 {
    font-size: 4rem;
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-style: italic;
}

.hero-text h1 span {
    color: lightseagreen;
}

.hero-text p {
    color: lightseagreen;
    font-weight: 550;
    margin-top: 0.50rem;
    margin-bottom: 1rem;
    font-size: 1.8rem;
}

.btn-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.butn-container button {
    padding: 0.4rem 2rem;
    border: none;
    background-color: lightseagreen;
    border-radius: 0.3rem;
    font-weight: 700;
    cursor: pointer;
    margin-top: .20rem;
    box-shadow: 0 0 0.2rem 0.1rem lightseagreen;
    transition: 0.2S ease-in-out;
}

.butn-container button:hover {
    box-shadow: 0 0 1rem 0.3rem lightseagreen;
}

/* laptop styling  */
.laptop-container {
    min-height: 100vh;
    width: 100%;
    background-color: black;
}

.card-heading {
    text-align: center;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-heading h1 {
    font-size: 3em;
    font-family: "jost", sans-serif;
    font-style: italic;
    color: #fff;
    font-weight: 900;
}

.card-container {
    width: 100%;
    min-height: auto;
    display: flex;
    justify-content: center;
    gap: 1.3rem;
    flex-wrap: wrap;
    align-items: center;
    padding: 2rem 0;
}

.card {
    width: 25%;
    height: auto;
    border-radius: 0.4rem;
    cursor: pointer;
    box-shadow: 0 0 0.4rem 0.1rem lightseagreen;
    transition: 0.3s;
    padding: 1rem 2rem;
}

.card:hover {
    transform: translateY(-1rem);
    box-shadow: 0 0 1rem 0.2rem lightseagreen;
}

.card .image-container {
    width: 100%;
    height: 15.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.4rem;
}

.card .image-container img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 0.4rem;
    border-top-right-radius: 0.4rem;

}

#lenovoimage {
    width: 100%;
    height: 70%;
}

.card .card-text {
    width: 100%;
    height: 30%;
}

.card-text h3 {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 0.5rem;
    color: lightseagreen;
}

.card-text p {
    text-align: center;
    margin-top: 0.5rem;
    font-weight: 800;
    font-size: 1.2rem;
    color: red;
}

#infortext {
    color: #fff;
}

.card-text p span {
    color: red;
}

.card-text .btn-container {
    text-align: center;
    margin-top: 0.5rem;
}

.btn-container button {
    padding: 0.4rem 1.5rem;
    border: none;
    border-radius: 0.4rem;
    background-color: lightseagreen;
    color: #fff;
    font-weight: 700;
    font-family: "jost", sans-serif;
    cursor: pointer;
}

.btn-container button:hover {
    background-color: lightseagreen;
}




/* contact styling  */


#contact {
    padding: 100px 40px;
    background: black;
    text-align: center;
    height: 100vh;
}

#contact h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: lightseagreen;
}

.contact-form {
    max-width: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-form input,
.contact-form textarea {
    padding: 12px;
    font-size: 16px;
    border-radius: 6px;
    border: 0.1rem solid lightseagreen;
}

.contact-form button {
    padding: 12px;
    font-size: 18px;
    border: none;
    background: lightseagreen;
    color: black;
    border-radius: 6px;
    font-weight: 700;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.contact-form button:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 30px lightseagreen;
}




/* footer styling */

.footer {
    background: #111;
    color: #ddd;
    padding: 60px 20px 20px;
}

.footer-container {
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.footer-box h3 {
    color: lightseagreen;
    margin-bottom: 15px;
    font-size: 20px;
}

.footer-box p {
    font-size: 14px;
    line-height: 1.6;
}

.footer-box ul {
    list-style: none;
}

.footer-box ul li {
    margin-bottom: 10px;
}

.footer-box ul li a {
    color: lightseagreen;
    text-decoration: none;
    font-size: 14px;
    transition: 0.3s;
}

.footer-box ul li a:hover {
    color: #fff;
}

.footer-box i {
    color: lightseagreen;
    margin-right: 8px;
    background-color: none;
}



.social-links i {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    background: #222;
    color: #fff;
    border-radius: 50%;
    margin-right: 10px;
    transition: 0.2s;
    text-decoration: none;
}

.social-links i:hover {
    background-color: lightseagreen;
    color: black;
    cursor: pointer;
    box-shadow: 0 0 1rem .2rem lightseagreen;
}